{% extends 'base.html' %}

{% block title %}Регистрация{% endblock %}

{% block style %}
	.block {
		background-color: #01796F;
		border: 2pt solid;
		width: 200pt;
		position: relative;
		padding: 10pt;
		margin: 3%;
	}
	.field {
		margin-left: 25pt;
		margin-right: 25pt;
		margin-top: 3pt;
		width: 150pt;
	}
	.button {
		margin: 3pt;
		width: 80pt;
		margin-left: 100pt;
		position: 20pt;
	}
	.just-text {
		margin-left: 50pt;
	}
	.just-text-2 {
		margin-left: 115pt;
	}
{% endblock %}

{% block content %} 

<div class="block">
	
		<p class="just-text-2">Регистрация</p>
		<form method="POST"> 
			{% csrf_token %}
			{% for i in form %}
			<p>
				{{ i }}
			</p>
			{% endfor %}
			<input type="submit" value="Сохранить" class="button">
		</form>
		<p>
		{% if error == "username" %}
			Имя пользователя уже используется
		{% endif %}
		{% if error == "email" %}
			Почта уже используется
		{% endif %}
		{% if error == "password1" %}
			Повторите пароль
		{% endif %}
		{% if error == "password2" %}
			Пароль слишком легкий
		{% endif %}
		</p>
		<a class="just-text">Уже есть аккаунт?</a><a href="{% url 'login' %}"> Войти</a>
	
</div>


{% endblock %}